
<div class="btn-wrap">
    <form method="post" action="/moderator" class="form-find">
        <input type="text" id="find-input" class="btn-input" placeholder="Find Guest" name="findname">
    </form>
</div>
<main role="main">
    <ol class="entries">
        {{#each guest}}
            <li class="guest-row" id="{{this.id}}">

                <span class="first-name">{{this.first_name}}</span>
                <span class="last-name">{{this.last_name}}</span>
                {{#if this.status}}
                    <span class="status"><a href="/moderator/{{this.id}}">Come</a></span>
                {{else}}
                    <span class="status"><a href="/moderator/{{this.id}}">No Come</a></span>
                {{/if}}
<!--                <ul class="entry-links">-->
<!--                    <span class="entry-link"><a href="entries/{{this.id}}">details</a></span>-->
<!--                    <span class="entry-link"><a href="edit/{{this.id}}">edit</a></span>-->
<!--                    <span class="entry-link"><a class="delete-button" id="{{this.id}}" href="entries/{{this.id}}">delete</a></span>-->
<!--                </ul>-->
            </li>
        {{/each}}
    </ol>
</main>